sqlalchemy
psycopg[binary] 
python-dotenv
fastapi
uvicorn
pydantic
stripe





 .\.venv\Scripts\python.exe -m uvicorn src.main:app --reload   

 stripe listen --forward-to localhost:8000/webhooks/stripe    